.StreamStatus-preview {
    border: 1px solid black;
    text-align: center;
    padding:0;
    width: 350px;
    margin: 10px auto;
}

.StreamStatus-preview h4 {
    margin: 0;
}

.StreamStatus-preview canvas {
    max-width: 100%;
    display: block;
}
